@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Gabriela&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: #fff;
    font-family: "Gabriela", serif;
    font-weight: 400;
}

.navbar{
    transition:  0.66s;
}
#team{
    padding: 30px;
}

#cars-area{
    background:#1e1f21;
    color: #fff;
}
.wrapp{
    padding: 10px 10%;
    padding-bottom: 100px;
}
#card-are{
    padding: 50px 0;
}
.boxarea{
    
    display: flex;
    justify-content: space-evenly;
}
.bloo{
    width: 300px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}
.bloo img{
    width: 100%;
    border-bottom: 5px;
    display: block;
    transition: transform 0.5s;
}
.overlay{
    height: 0;
    width: 100%;
    background: linear-gradient(transparent,#1c1c1c 58%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items:left;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: left;
    font-size: 14px;
    transition: height 0.5s;
}
.overlay h3{
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 80%;
    font-size: 30px;
    letter-spacing: 2px;
}
.overlay a{
    margin-top: 10px;
    color: #262626;
    text-decoration: none;
    font-size: 14px;
    background: #fff;
    border-radius: 50px;
    text-align: left;
    padding: 5px 15px;
    width: 40px;
}
.bloo:hover img{
    transform: scale(1.2);
}
.bloo:hover .overlay{
    height: 120%;
}


@media screen and (max-width:450px){
    .overlay{
        font-size: 7px;
    }
    .overlay h3{
        font-size: 15px;
    }
    .boxarea{
        justify-content:space-evenly;
    }
    .bloo{
        width: 150px;
    }
}